

body{
    width: 350px;
    margin: 2px;
}
.img-circle
{
    box-shadow:0 0 10px rgba(0,0,0,0.3);
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: inline-block;
    padding:0;
}

.data-right{
    float: right;
    font-family: 'Open Sans';
    font-size: 17px;
    width: 235px;
    text-align: left;
}
.set-check{
    display: inline-block;
}
.checking{
    display: none;
}
.checking + label {

    background:url("uncheck.png") no-repeat left 4px ;
    position: relative;
    top: 1px;
    padding-left: 20px;
}

.checking:checked + label
{
    background:url("check.png") no-repeat left 4px ;
    position: relative;
    top: 1px;
    padding-left: 20px;

}
.lb-size {
    font-size: 16px;
    color: #121212;
    padding: 0 12px 0 0;
}
#was_linkedin_info{
    font-family: 'Open Sans';
    font-weight: 400;

}

#was_linkedin_info .label-bold{
    font-family: 'Open Sans';
    font-weight: 700;

    font-size: 17px;
    width: 125px;
    vertical-align: top;

}
.heading{
    font-family: 'Open Sans';
    font-weight:bold;
    text-align:center;
    color:#0084bb;
    margin: 0;
    font-size: 24px;
    padding: 6px 0 7px 0;
}


.checkboxes{
    background-color: #efefef;

   padding: 10px 0 8px;
    float: left;
    width: 100%;
    margin: 9px 0 4px 0;
    text-align: center;
}
.exp_button {
    width: 100%;
    border: none;
    font-family: 'Open Sans';
    background-color: #0084bb;
    color: white;
    font-size: 20px;
    height: 45px;
    cursor: pointer;
}
